{
  "extends": "eslint-config-airbnb/base",
  "env": {
    "browser": true,
    "mocha": true
  },
  "rules": {
    "no-use-before-define": [2, "nofunc"],
    "max-len": [2, 140],
    "no-param-reassign": [2, { "props": false }]
  }
}
